@font-face {
    font-family: "King Basil Lite";
    src: url('fonts/King-Basil-Lite.eot'); /* IE9 Compat Modes */
    src: url('fonts/King-Basil-Lite.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/King-Basil-Lite.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/King-Basil-Lite.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/King-Basil-Lite.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/King-Basil-Lite.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "fabrica";
        src: url("fonts/fabrica.eot"); /* IE9 Compat Modes */
        src: url("fonts/fabrica.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
            url("fonts/fabrica.woff2") format('woff2'), /* Super Modern Browsers */
            url("fonts/fabrica.woff") format('woff'), /* Pretty Modern Browsers */
            url("fonts/fabrica.ttf")  format('truetype'), /* Safari, Android, iOS */
            url("fonts/fabrica.svg#svgFontName") format('svg'); /* Legacy iOS */
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
}

p {
    font-family: Fabrica;
    font-size: 20px;
}

.body-container {
    top: 1000px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.header-container {
    background-color: #A3DF85;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: all 0.5s;
}

.sub-header-container {
  transition: all 0.5s;
}

.header_logos {
  padding-bottom: 25px;
}

.backgroundblock{
    background-color: #A3DF85;
    width: 100%;
}

.img_wrapper {
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 15;
    top: 0px;
    transition: all 0.5s;
}

.pic_wrapper {
  max-height: 250px;
}

.sub-header-picture {
  top: -700px;
  transition: all 0.5s;
}

.title_wrapper {
    top: 50px;
    max-width: 800px;
    transition: all 0.5s;
}

.sub-title-wrapper {
    top: 10px;
    max-width: 200px;
    transition: all 0.5s;
}

.profile_pic {
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    position:relative;
    z-index: 6;
    top: 75px;
}

.dmllogo, .mcmasterlogo {
    width: 130px;
    top: 25px;
    position: relative;
}

.title {
    width: 100%;
    position: relative;
}

.dmllogo {
    float: right;
    right: 20px;
}

.mcmasterlogo {
    float: left;
    left: 20px;
}

#name {
    font-family: King Basil Lite;
    font-size: 125px;
    color: black;
    text-align: center;
    top: 50px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
}

.keys {
padding-left: 15px;
    padding-right: 15px;
    white-space: normal;
    text-align: center;
}

.background, .foreground {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background {
    z-index: 1;
}

.foreground {
    z-index: 2;
}

.link-icons-container {
    position: relative;
    top: 215px;
}

.link-icon {
    font-size: 70px !important;
}


.menubox {
border-bottom: 2px solid grey;
}

.menubox:hover {
  background-color: #86b96d;
  cursor:pointer;
}

.menuitem {
  top: 0px;
  margin: 0px;
  text-align: center;
  position: relative;
  padding-top: 25px;
  transition: all 0.5s;
  font-size: 1.4em;
  white-space: nowrap;
}

.menuitem_home {
  top: 700px;
  transition: all 0.5s;
}

.profile_column {
  bottom: 85px;
}

.sub-header-row {
  padding-bottom: 20px;
}

.about_container {
  padding-right: 25%;
  padding-left: 25%;
}

.jumbotron-edit {
  background-color:inherit;
  padding-top: 100px;
}
