{% extends "sub_header.html" %}

{%  block content %}
<div class="jumbotron jumbotron-edit">
  <div class="container text-center">
    <h1>About Me</h1>
    <p>Some text that represents "Me"...</p>
  </div>
</div>

<div class="container-fluid about_container">
  <div class="row content">
    <div class="col-sm-3">
      <p>Picture</p>
    </div>
    <div class="col-sm-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor porta lacinia. Proin et commodo tellus, ut vestibulum sem. Vestibulum bibendum arcu ut nulla dignissim auctor. Sed odio lorem, bibendum id scelerisque in, semper sit amet felis. Proin quis venenatis tellus, sed interdum est. Aenean ligula elit, finibus eget lectus congue, posuere ullamcorper orci. Nullam quis metus et velit tristique posuere. Nunc purus velit, rutrum a fringilla vel, consectetur eget augue. In sed felis quis purus venenatis posuere nec eget eros. Aliquam tempus sapien et tincidunt rhoncus. Aenean vulputate ante tortor, id tincidunt libero finibus ut. Nulla placerat lorem est, vel consequat lorem ullamcorper ut.

      </p>
      <p>

Suspendisse eget massa sed augue consectetur tempor sit amet molestie dolor. Fusce fermentum consequat tortor, ultrices feugiat magna euismod id. Maecenas mattis maximus purus, gravida imperdiet justo varius sed. Curabitur eu finibus tellus, eget interdum lorem. Suspendisse potenti. Mauris dignissim metus vitae tincidunt mattis. Donec ultrices neque risus, eu convallis dolor condimentum eu.
      </p>
    </div>
  </div>
</div>

<!---
<div class="container-fluid bg-3 text-center">
  <h3>Some of my Work</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
--->


{% endblock %}
